#!/usr/bin/make -f

# MnoClassifier learns MSISDN-Operator combinations to afterwards predict Operators.
# Copyright (C) 2013 MACH Connectivity GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

SBT_LAUNCH_JAR=/tmp/sbt-launch.jar
SBT=java -jar $(SBT_LAUNCH_JAR)

sbt:
	[ -r $(SBT_LAUNCH_JAR) ] \
		|| wget -O $(SBT_LAUNCH_JAR) \
			http://repo.typesafe.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch//0.12.3/sbt-launch.jar

override_dh_auto_clean:
	rm -rf target project/target project/project

override_dh_auto_build: sbt
	$(SBT) clean pack

%:
	dh $@
